<div class="page-header page-header-main clearfix">
    <div class="page-header-text">
        <h3>Choose A Player To Login As</h3>
    </div>
    <div class="page-header-controls">
        <a href="" class="btn btn-default"><span class="fa fa-glass"></span> Update Status</a>
    </div>
</div>
<ul class="players">
    <li ng-repeat="player in vm.players">
        <button class="btn btn-lg" ng-hide="vm.authentication.isAuth" ng-click="vm.login(player)" >{{player.name + ' (' + player.email +')'}}</button>
    </li>
</ul>
