<div class="page-header page-header-main clearfix">
    <div class="page-header-text">
        <h3>Medidata Game Room NYC Office</h3>
    </div>
    <div class="page-header-controls">
        <a ui-sref="games.new" class="btn btn-default"><span class="fa fa-plus"></span> Record Game Result</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="gameType-{{gameType.name}}" class="gameType col-sm-12" ng-repeat="gameType in vm.gameTypes | orderBy:'name'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind="gameType.name"></h3>
                </div>
                <div class="panel-body">
                    <ul class="games row">
                        <li ng-repeat="game in vm.games | filter:{gameType:gameType.name}:strict | orderBy:'-id'" class="col-md-4">
                            <div class="game-team1">
                                <h4>Team 1</h4>
                                Score: <span class="score" ng-bind="game.team1.score"></span>
                                <ul class="game-players">
                                    <li ng-repeat="playerId in game.team1.players">
                                        <span ng-bind="vm.getPlayerName(playerId)"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="game-team2">
                                <h4>Team 2</h4>
                                Score: <span class="score" ng-bind="game.team2.score"></span>
                                <ul class="game-players">
                                    <li ng-repeat="playerId in game.team2.players">
                                        <span ng-bind="vm.getPlayerName(playerId)"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>