<?xml version="1.0"?>
<appSettings>
    <!-- Place template placeholders for secret key settings to be filled in from Azure -->

    <add key="orchestrate_apikey" value="PLACE_SECRET_KEY_HERE" />
    
    <!-- End Secret Settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>